* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    min-height: 100svh;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    padding: 1rem;
    align-items: center;
}

header > p {
    text-align: end;
}

/* ----- Main ----- */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ----- Main - Article ----- */
main > article {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1rem;
}

main > article > section:nth-child(2) {
    padding-top: 1rem;
}

/* ------ Main - Article - Button ------- */
main > article > section > button {
    width: 2.8rem;
    height: 1.5rem;
    cursor: pointer;
}

/* ------ Main - Article - Section ------- */
.sectionTodo {
    margin: 1rem;
    padding: 1rem;
}