* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	min-height: 100vh;
	min-height: 100svh;
}

/* ---------------- Header ---------------- */
header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
    align-items: center;
    padding: 1rem;
}

header > p {
    text-align: end;
}

/* ---------------- Main ---------------- */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

main > section {
    border: 1px solid black;
}

main > section > h2 {
    text-align: center;
    padding-bottom: 1rem;
}

main > section > article {
    display: grid;
    padding-bottom: 1rem;
}

main > section > article > button {
    width: 2rem;
    height: 1rem;
    justify-self: center;
    cursor: pointer;
}

